@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
  --margin: 1rem auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  align-items: center;
}

body {
  font-family: 'Manrope', sans-serif;
  text-align: center;
  /* max-width: 100vw;
  max-height: 100vh; */
  background-color: #e9ecef;
  /* justify-content: center; */
}

.navbar .navbar-brand {
  color: #da0037;
  font-size: 1.5rem;
}
